# dependencies
node_modules/

# env files (VERY IMPORTANT)
.env
.env.local
.env.*.local

# firebase admin key
serviceAccountKey.json

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db